<!DOCTYPE html>
<html>
    <head>
        <title>Job Portal - FLASK PROJECT</title>
        {% include 'bootstrap.html' %}
    </head>
    <body>
    {% include 'navmenu.html' %}
    <img id="hero" class="img-fluid" src="/static/img/banner.webp" loading="lazy">
    <div class="container">
        <h1>{{company_name}} Portal</h1>
        <h2>About Jakob's</h2

        <div class="container text-center">
            <div class="row row-cols-2">
                <div clas="col">    
                    <p class="lead">When you run the file hello_world.py, the ending .py indicates that the
                    file is a Python program. Your editor then runs the file through the Python
                    interpreter, which reads through the program and determines what each word
                    in the program means. For example, when the interpreter sees the word
                    print followed by parentheses, it prints to the screen whatever is inside the
                    parentheses.
                    As you write your programs, your editor highlights different parts of
                    your program in different ways. For example, it recognizes that print() is
                    the name of a function and displays that word in one color. It recognizes
                    that "Hello Python world!" is not Python code, and displays that phrase in a
                    different color. This feature is called syntax highlighting and is quite useful
                    as you start to write your own programs.</p>
                </div>
                <div class="col">
                    <img src="/static/img/recruitment.png" class="rounded img-fluid" style="height: 400px" loading="lazy">
                </div>
            </div>
        </div>
        <h2>Job Opening's</h2>
        <div class="container">
            <div class="row justify-content-between">
        
                <div>
                    {% for job in jobs %}
                        {% include "joblisting.html" %}
                    {% endfor %}
                </div>
                
            </div>
        </div>
        <div class="container btn-container">
            <a type="button" href="mailto:jakobvargis@gmail.com?subject=Inquiry for {{company_name}}" class="btn btn-danger">Contact Us</a>
        </div>
    </div>
    {% include 'footer.html' %}
    </body>
</html>