<div class="row">
    
        <div class="col-9">
            <h4>{{job['title']}}</h4>
            {% if 'salary' in job %}
            <div>
                <p class="salary">
                        Salary: Rs.{{job['salary']}}/- per month.
                </p>
            </div>
            {% else %}
            <div>
                <p class="salary">
                        Salary: Will disclose in person.
                </p>
            </div>
            {% endif %}
            <div>
                <p class="location">Location: {{job['location']}}</p>
            </div>
        </div>

        <div class="col-3 align-self-center">
            <div>
                <a type="button" href="/job/{{job['id']}}" class="btn btn-outline-secondary">Apply Now</a>
            </div>
        </div>
</div>
<hr>